@import "tailwindcss";

:root {
  --theme-image-filter-dark: none;
  --theme-image-filter-light: invert(1);
  --theme-border-base: #ededed;
  --theme-bg-base: #ffffff;
  --theme-bg-dark: #ffffff;
  --theme-bg-muted: #f2f2f2;
  --theme-bg-muted-hover: #ebebeb;
  --theme-bg-muted-dark: #ffffff;
  --theme-bg-muted-dark-hover: #ffffff;
  --theme-fg-base: #171717;
  --theme-fg-light: #3c3c3c;
  --theme-fg-dark: #181818;
  --theme-text-muted: #666666;
  --theme-text-subtle: #dfdfdf;
  --theme-primary: #0373F5;
  --theme-primary-light: #0373F5;
  --theme-success: #4aa75c;
  --theme-accent-blue: #0070f1;
  --theme-accent-blue-bg: #ebf5ff;
  --theme-accent-blue-border: #cce6ff;
  --theme-accent-purple: #995fcc;
  --theme-accent-purple-bg: #f9f1fe;
  --theme-accent-purple-border: #eddcf9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-image-filter-dark: invert(1);
    --theme-image-filter-light: none;
    --theme-border-base: #333333;
    --theme-bg-base: #000000;
    --theme-bg-dark: #0a0a0a;
    --theme-fg-base: #ffffff;
    --theme-fg-light: #e7e7e7;
    --theme-fg-dark: #c5c5c5;
    --theme-bg-muted: #1a1a1a;
    --theme-bg-muted-hover: #1f1f1f;
    --theme-bg-muted-dark: #1f1f1f;
    --theme-bg-muted-dark-hover: #1a1a1a;
    --theme-text-muted: #808080;
    --theme-text-subtle: #404040;
    --theme-primary: #0373F5;
    --theme-primary-light: #52a8ff;
    --theme-success: #409850;
    --theme-accent-blue: #0070f1;
    --theme-accent-blue-bg: #10233d;
    --theme-accent-blue-border: #0D3868;
    --theme-accent-purple: #995fcc;
    --theme-accent-purple-bg: #2e1938;
    --theme-accent-purple-border: #4f2768;
  }
}

html.light {
  --theme-image-filter-dark: none;
  --theme-image-filter-light: invert(1);
  --theme-border-base: #ededed;
  --theme-bg-base: #ffffff;
  --theme-bg-dark: #ffffff;
  --theme-fg-base: #171717;
  --theme-fg-light: #3c3c3c;
  --theme-fg-dark: #181818;
  --theme-bg-muted: #f2f2f2;
  --theme-bg-muted-hover: #ebebeb;
  --theme-bg-muted-dark: #ffffff;
  --theme-bg-muted-dark-hover: #ffffff;
  --theme-text-muted: #666666;
  --theme-text-subtle: #dfdfdf;
  --theme-primary: #0373F5;
  --theme-primary-light: #0373F5;
  --theme-success: #4aa75c;
  --theme-accent-blue: #0070f1;
  --theme-accent-blue-bg: #ebf5ff;
  --theme-accent-blue-border: #cce6ff;
  --theme-accent-purple: #995fcc;
  --theme-accent-purple-bg: #f9f1fe;
  --theme-accent-purple-border: #eddcf9;
}

html.dark {
  --theme-image-filter-dark: invert(1);
  --theme-image-filter-light: none;
  --theme-border-base: #333333;
  --theme-bg-base: #000000;
  --theme-bg-dark: #0a0a0a;
  --theme-fg-base: #ffffff;
  --theme-fg-light: #e7e7e7;
  --theme-fg-dark: #c5c5c5;
  --theme-bg-muted: #1a1a1a;
  --theme-bg-muted-hover: #1f1f1f;
  --theme-bg-muted-dark: #1f1f1f;
  --theme-bg-muted-dark-hover: #1a1a1a;
  --theme-text-muted: #808080;
  --theme-text-subtle: #404040;
  --theme-primary: #0373F5;
  --theme-primary-light: #52a8ff;
  --theme-success: #409850;
  --theme-accent-blue: #0070f1;
  --theme-accent-blue-bg: #10233d;
  --theme-accent-blue-border: #0D3868;
  --theme-accent-purple: #995fcc;
  --theme-accent-purple-bg: #2e1938;
  --theme-accent-purple-border: #4f2768;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--theme-bg-base);
}
